@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    height: 1080px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292e;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar .links {
display: flex;
}

.navbar .greeting {
margin-left: auto;
padding-right: 40px;
color: #fff;
}

.navbar a {
text-decoration: none;
color: #fff;
padding: 10px 15px;
}

.navbar a:hover {
text-decoration: underline;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 5;
}

.uad-left-block {
    width: 15%;
    min-height: 100vh;
    background-color: beige;
    display: inline-block;
}

#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 35%;
}

#username-label {
    margin-top: 10%;
    text-align: center;
}

#usernameText {
    text-align: center;
}

.uad-left-block-content i {
    padding: 10px;
}

#account-info {
    margin-left: 3%;
    margin-right: 3%;
}

.uad-right-block {
    height: 1080px;
    width: 85%;
    background-color: gray;
    z-index: 1;
    float: right;
    margin-top: 71px;
}

.profile-navigation-buttons {
    margin: 10px;
}

.profile-navigation, #taskButton {
    padding: 10px;
    margin-left: none;
    margin-right: none;
    background-color: rgb(48, 190, 81);
    border: 0px;
    color: white;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
}

.create-task-button {
    float: right;
}

.profile-navigation:hover {
    background-color: rgb(37, 146, 63);
}

#taskButton:hover {
    background-color: rgb(37, 146, 63);
}

.upcoming-tasks-table {
    margin-left: 10px;
    color: white;
}

.upcoming-tasks-table table, th, td {
    border-collapse: collapse;
}

.upcoming-tasks-table table {
    width: 99.3%;
}

.upcoming-tasks-table td {
    padding: 15px;
}

th {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: #acacac;
}

tr:nth-child(odd) {
    background-color: #c4c4c4;
}

.empty-message {
    color: white;
    font-size: 50px;    
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    display: none;
}

.empty-message p {
    padding: 50px;
}

#emptyMessage {
    color: white;
    font-size: 50px;    
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    display: none;
}

.task-info-button {
    padding: 20px;
    margin-left: 60px;
    margin-right: none;
    background-color: rgb(48, 190, 81);
    border: 0px;
    color: white;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
}

.task-info-button:hover {
    background-color: rgb(37, 146, 63);
}

.title {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 1vw;
}

.task-description {
    text-align: left;
    font-size: large;
    margin: 1vw;
}

.task-info {
    text-align: left;
    font-size: large;
    margin: 1vw;
}

.task-description-title{
    text-align: left;
    font-size: x-large;
    margin: 1vw;
}

.volenteer-Remove-button{
    padding: 12px;
    margin-left: 50px;
    margin-right: none;
    background-color: rgb(190, 48, 48);
    border: 0px;
    color: white;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    align-self: right;
}

.volenteer-Completed-button{
    padding: 5px;
    margin-left: 5px;
    margin-right: none;
    background-color: rgb(53, 190, 48);
    border: 0px;
    color: white;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    align-self: right;
}

.volenteer-Remove-button:hover {
    background-color: rgb(98, 6, 6);
}

.volenteer-Completed-button:hover {
    background-color: rgb(7, 107, 4);
}

.no-options-text {
    color: rgb(49, 49, 49);
    font-size: medium;
}

.task-information {
    text-align: center;
}