@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f6f8fa;
    overflow-x: hidden;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

#delay1 {
    transition-delay: 100ms;
}
  
#delay2 {
   transition-delay: 200ms;
}
  
#delay3 {
    transition-delay: 300ms;
}
  
#delay4 {
    transition-delay: 400ms;
}
  
#delay5 {
    transition-delay: 500ms;
}

#delay1pt2 {
    transition-delay: 100ms;
}

#delay2pt2 {
    transition-delay: 200ms;
}

#delay3pt2 {
    transition-delay: 300ms;
}

#delay4pt2 {
    transition-delay: 400ms;
}

#delay5pt2 {
    transition-delay: 500ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
  
@media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292e;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbar .links {
    display: flex;
}

.navbar .greeting {
    margin-left: auto;
    padding-right: 40px;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.footer {
    background-color: #24292e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8699b3;
}

.landing-content h1 {
    padding: 0.2rem;
    font-size: 2.5em;
}

.landing-content p {
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
}

.bodyimage-container {
   width: 100vw;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 10vh;
}

.bodyimage-container img {
    padding: 1rem;
    border-radius: 2px;
    height: 250px;
    width: 250px;
    padding-top: 2rem;
}
