@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f6f8fa;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar .links {
  display: flex;
}

.navbar .greeting {
  margin-left: auto;
  padding-right: 40px;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.landing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.footer {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5% 2%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-div {
  background-color: rgba(40, 167, 70, 0.9);
  padding: 8% 4%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1500px) {
  .about-div {
    width: 30%;
    padding: 4%;
  }
}

.homepage-button {
    width: 50%;
    height: 50px;
    background-color: rgb(53, 211, 90);
    border: 0px;
    color: white;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
}

.homepage-button:hover {
    border: 2px solid rgb(30, 105, 47);
}

.services-flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5% 2%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.services-div-1 {
  background-color: rgba(40, 167, 70, 0.9);
  padding: 8% 4%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
  color: white;
}

.services-div-2 {
  background-color: rgba(40, 167, 70, 0.9);
  padding: 8% 4%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
  color: white;
}

.line {
  background-color: white;
  width: 4px;
  height: 100px;
}

.services-flex-container p {
  padding-bottom: 3%;
}